<%= form_for(:session, :html => {role: "form"}, url: login_path) do |f| %>
<div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left">
        <%= f.text_field :email, class: "input", type:"email", placeholder: "Enter email", autofocus: true %>
        <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
        </span>
    </div>
</div>
<div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left">
        <%= f.text_field :password, class: "input", type:"password", placeholder: "Enter password", autofocus: true %>
        <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
        </span>
    </div>
</div>
<div class="field">
    <div class="control">
      <%= f.submit class: 'button is-success' %>
    </div>
</div>
<% end %>