<% if obj.errors.any? %>
    <div class="notification is-danger">
    <button class="delete" id="btnDeleteMessageBox" onclick="deleteParent('btnDeleteMessageBox')"></button>
      <%= pluralize(obj.errors.count, "error") %>
      prohibited this object from being saved:
     </h2>

       <% obj.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
       <% end %>
    </div>

<% end %>