<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/articles">
          Blog
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/articles/new">
            Create Article
          </a>
        </div>
      </div>
      <a class="navbar-item">
        Knowledgebase
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "Signup", "/signup", class: "button is-primary" %>
        </div>
      </div>
    </div>
  </div>
</nav>
